$sheet-width: 800px;
$bg: white;
$faded: #ddd;
$faded-light: #eee;
$faded-dark: #bbb;
$radius: 10px;
$gutter: 10px;
$bubble-size: 10px;
$small-box-width: 30px;
$large-box-width: 70px;

form.charsheet {
  width: $sheet-width;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;

  main {
    > section {
      width: 32%;
      display: flex;
      flex-direction: column;

      // Skills, Saving Throws etc
      div.attr-applications {
        div.inspiration {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;

          input {
            appearance: none;
            border: 1px solid black;
            padding: $small-box-width / 2;
            border-radius: $radius;
          }
        }

        div.proficiencybonus {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;

          input {
            width: $small-box-width;
            height: $small-box-width - 2;
            border: 1px solid black;
            text-align: center;
            border-radius: $radius;
          }
        }

        div.list-section {
          border: 1px solid black;
          border-radius: $radius;
          padding: $gutter $gutter/2;

          div.label {
            margin-top: $gutter;
            margin-bottom: $gutter / 4;
            text-align: center;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: bold;
          }
        }

        ul li {
          display: flex;
          align-items: center;

          > * {
            margin-left: $gutter / 2;
          }

          label {
            text-transform: none;
            font-size: 8px;
            text-align: left;
            order: 3;
          }

          span.skill {
            color: $faded-dark;
          }

          // Skill and Saving Throws Input Box Stylings
          input {
            &[type="number"] {
              width: 30px;
              font-size: 12px;
              text-align: center;
              border: 0;
              border-bottom: 1px solid black;
              order: 2;
            }
            &[type="checkbox"] {
              appearance: none;
              width: $bubble-size;
              height: $bubble-size;
              border: 1px solid black;
              border-radius: $bubble-size;
              order: 1;
            }
            &:checked {
              background-color: black;
            }
          }
        }
      }
    }
  }
}
